.book-detail-info {
    position: relative;
    background: #fff;
}

.book-layout {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 0 0 1rem 0;
}

.book-cover {
    margin-left:10px;
    width: 8em;
    height: 10em;
    box-shadow: none;
    float: left;
    border-radius: 7px;
}

.book-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    font-weight: 300;
    color: #FD8000;
}

.book-cell {
    overflow: hidden;
    line-height: 2.5rem;
}

    .book-cell div {
        padding-left: 5px;
    }

.book-author {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.book-last-item {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tag-small {
    display: inline-block;
    vertical-align: bottom;
}

.book-detail-btn {
    text-align: center;
    height: 2.5rem;
}

.ca {
    background-color: #FD8000;
    color: white !important;
    display: inline-block;
    line-height:2.5rem;
    width: 40%;
}

.bg-gray {
    background-color: #e6e6e6;
    color: black !important;
}

.book-summary {
    text-indent: 2em;
    font-weight: 100;
    letter-spacing: 0.01em;
}

.item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding: 0.7rem;
    border-bottom: 1px #e6e6e6 solid;
}

    .item:first-child {
        border-top: 1px #e6e6e6 solid;
    }
