body {
}

.logo {
    font-size: 2rem;
    margin: 0.5rem;
    display: block;
    color: #FD8000 !important; 
}


.content-subhead {
    font-weight: 300;
    color: #888;
    position: relative;
    margin-left: 1%;
    color: #FD8000;
}
