body {
}

.logo {
    background: url('/files/logo.png') no-repeat scroll 0 0 transparent;
    width: 120px;
    height: 80px;
    position: relative;
    display: block;
    text-indent: -9999em;
    margin-left: 1%;
}


.content-subhead {
    font-weight: 300;
    color: #888;
    position: relative;
    margin-left: 1%;
    color: #FD8000;
}
