
@using Novel.Common
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]_书客来</title>
    <meta name="robots" content="all">
    <meta name="googlebot" content="all">
    <meta name="baiduspider" content="all">
    <meta name="keywords" content="@Html.Raw(ViewData["keywords"])" />
    <meta name="description" content="@Html.Raw(ViewData["description"])">
    <meta name="baidu-site-verification" content="BU3OVsxuwT" />
    <link href="~/css/common.css?v=@CssVersion.M_Common_Ver" rel="stylesheet" />
    <link href="~/css/pure-min.css" rel="stylesheet" />
    <link href="~/css/content.css?v=@CssVersion.M_Content_Ver" rel="stylesheet" />
    <script src="~/js/zepto.min.js"></script>
    <script src="~/js/touch.js"></script>
    <script src="~/js/common.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?dceacf47722dcdb7fb8077426895514c";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    <div class="body" id="body">
        @RenderBody()
    </div>
    @*<div class="bar-list">
            <div class="top-bar">
                <a class="mp mp-buttom" href="#footer" style="display:block;">
                    <img src="~/files/mp-bottom.png" style="width:100%" />
                </a>
                <a class="mp mp-top" href="#body" style="display:none;">
                    <img src="~/files/mp-top.png" style="width:100%" />
                </a>
            </div>
        </div>*@
    <footer class="border-top footer text-muted" id="footer">
        <div class="footer" style="">
            <p>Copyright © 2019 书客来 m.shukelai.com</p>
            <p>如有需要请联系:zxzsm@163.com</p>
        </div>
    </footer>
</body>
</html>
