<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]_书客来</title>
    <link href="~/css/common.css" rel="stylesheet" />
    <link href="~/css/pure-min.css" rel="stylesheet" />
    <link href="~/css/content.css" rel="stylesheet" />
    <script src="~/js/zepto.min.js"></script>
    <script src="~/js/touch.js"></script>
</head>
<body>
    <div class="body">
        @RenderBody()
    </div>
  
</body>
</html>
