<!DOCTYPE html>
@using Novel.Common
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]_书客来</title>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0" />
    <link href="~/css/common.css?v=@CssVersion.M_Common_Ver" rel="stylesheet" />
    <link href="~/css/pure-min.css" rel="stylesheet" />
    <script src="~/js/zepto.min.js"></script>
    <script src="~/js/common.js"></script>
    <style>
        .header {
            position: relative;
            box-sizing: border-box;
            height: 3rem;
        }
    </style>
</head>
<body>
    <header class="header">
        <a class="rt" href="javascript:history.go(-1)">
            <img src="~/files/return.png" style="width:100%" />
        </a>
        <a class="rt" style="float:right;" href="/">
            <img src="~/files/shujia.png" style="width:100%" />
        </a>
        <a class="rt" style="float:right;" href="/">
            <img src="~/files/home.png" style="width:100%" />
        </a>
    </header>
    <div class="body" id="body">
        @RenderBody()
    </div>
    <footer class="border-top footer text-muted" id="footer">
        <div class="container">
        </div>
    </footer>
</body>
</html>
