
@{
    ViewData["Title"] = "登陆-书客来-手机版";
    Layout = "_Layout";
}

<style>
    .btnorange {
        background-color: #FD8000;
        color: #fff;
    }
</style>
<div style="margin:5%">
    <div class="pure-form pure-form-stacked">
        <fieldset>
            <div class="pure-g">
                <div class="pure-u-1">
                    <label for="username">用户名</label>
                    <input id="username" class="pure-u-1" type="text">
                </div>

                <div class="pure-u-1">
                    <label for="pwd">密码</label>
                    <input id="pwd" class="pure-u-1" type="password">
                </div>
                <div class="pure-u-1 " style="text-align:center;margin-top:20px">
                    <input type="button" style="width:100%;" class="pure-button btnorange" value="提交" onclick="login()" />
                    <a href="/" style="margin:1rem auto;display:block;width:4rem;">免费注册</a>
                </div>
            </div>
        </fieldset>
        <input hidden="hidden" name="returnurl" id="returnurl" value="@ViewData["returnurl"]" />
    </div>
</div>
<script>
        function login() {
            if (!$("#username").val().trim()) {
                alert("请输入用户名");
                return;
            }
            if (!$("#pwd").val().trim()) {
                alert("请输入密码");
                return;
            }
        url = "@Url.Action("Sign", "Index")";
        $.post(url, {
            UserName: $("#username").val().trim(),
            Uesrpwd: $("#pwd").val().trim(),
        }, function (rs) {
            if (rs && rs.status == 0) {
                if (!$("#returnurl").val()) {
                    window.location.href = "/"
                }
                else {
                    window.location.href = $("#returnurl").val();
                }
            }
            else {
                alert(rs.msg);
            }
        });
        }
</script>