
body {
    margin: 0px;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 0.01em;
}

.content-subhead {
    font-weight: 300;
    color: #888;
    position: relative;
}

.novel {
    text-align: center;
    margin-left: -70px;
}


.title a, a, a:active, a:hover, a:link {
    text-decoration: none;
    color: black;
}

.title {
    font-size: 1.125em;
    margin: 5px 0px;
    width: 100%;
}

.background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background: #EFF2FB;
}

.fr {
    border: 2px solid white;
    border-radius: 5px;
}
