
body {
    margin: 0px;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 0.01em;
}

.content-subhead {
    font-weight: 300;
    color: #888;
    position: relative;
}

.novel {
    text-align: center;
    margin-left: -70px;
}

    .novel img {
        margin: 0px auto;
        border-radius: 7px;
    }

.title a, a:active, a:hover, a:link {
    text-decoration: none;
}

.title {
    font-size: 1.125em;
    margin: 5px 0px;
    width: 100%;
}

.background {
    background-image: linear-gradient(135deg,#0277bd 0,#8bc34a 100%);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}
