<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Novel</title>
    <link href="~/lib/pure-min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <style>
        .container {
            margin: 0px auto;
            max-width: 1000px;
        }

        .img {
            margin: 0px auto;
            border-radius: 7px;
            height: 200px;
        }

        .logo {
            background: url('/files/logo.png') no-repeat scroll 0 0 transparent;
            width: 120px;
            height: 80px;
            position: relative;
            display: block;
            text-indent: -9999em;
            margin-left:10px;
        }
    </style>
</head>
<body>
    <div class="background"></div>
    <div class="container ">
        <div class="pure-g">
            <div class="pure-u-1-8">
                <a class="logo" href="/">
                    书客来
                </a>

            </div>
            @*<div class="pure-u-3-8" style="padding-top:20px;color:#FD8000;">
                书当快意读易尽,客有可人期不来
            </div>*@
            <div class="pure-u-4-8"></div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                <div class="pure-menu pure-menu-horizontal">
                    <a href="/" class="pure-menu-heading pure-menu-link">首页</a>
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">全部书籍</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">玄幻奇幻</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">都市言情</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">修仙</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">历史军事</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">网游竞技</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">连载中</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">完结</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">在线阅读</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="body">

            @RenderBody()
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
